<p>
  Here you will see the details of party number:
</p>

<input ng-model="partyVm.party.name">
<input ng-model="partyVm.party.description">
<label>Is public</label>
<input type="checkbox" ng-model="partyVm.party.public">

<ul>
  Users:
  <li ng-repeat="user in partyVm.users | uninvited:partyVm.party">
    <div>{{ user | displayName }}</div>
  </li>
</ul>

<!--
  If using false as the third argument in $meteor.object we must provide
  a save action for the meteor object to update the server db
 -->
<button ng-click="partyVm.save()">Save</button>
<button ng-click="partyVm.reset()">Reset Form</button>
<button ui-sref="parties">Cancel</button>
